In [58]:
import os
import pandas as pd
import torch
import numpy as np

In [16]:
_NOTEBOOKS_ROOT = os.getcwd()  # root of test folder
_PROJECT_ROOT = os.path.dirname(_NOTEBOOKS_ROOT)  # root of project
_PATH_DATA = os.path.join(_PROJECT_ROOT, "Data/Processed")  # root of data

In [17]:
train=pd.read_csv(os.path.join(_PATH_DATA ,"df_train.csv"),index_col=0)
train

                                                   Reviews  Sentiment
0.0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...        2.0
1.0      advice Talk to your neighbours family to excha...        3.0
2.0      Coronavirus Australia: Woolworths to give elde...        3.0
3.0      My food stock is not the only one which is emp...        3.0
4.0      Me, ready to go at supermarket during the #COV...        0.0
...                                                    ...        ...
41152.0  Airline pilots offering to stock supermarket s...        2.0
41153.0  Response to complaint not provided citing COVI...        0.0
41154.0  You know itÂs getting tough when @KameronWild...        3.0
41155.0  Is it wrong that the smell of hand sanitizer i...        2.0
41156.0  @TartiiCat Well new/used Rift S are going for ...        1.0

[41159 rows x 2 columns]

In [59]:
np.unique(train['Sentiment'])

array([ 0.,  1.,  2.,  3.,  4., nan])

In [18]:
test=pd.read_csv(os.path.join(_PATH_DATA ,"df_test.csv"),index_col=0)
test

                                                Reviews  Sentiment
0     TRENDING: New Yorkers encounter empty supermar...          0
1     When I couldn't find hand sanitizer at Fred Me...          3
2     Find out how you can protect yourself and love...          4
3     #Panic buying hits #NewYork City as anxious sh...          1
4     #toiletpaper #dunnypaper #coronavirus #coronav...          2
...                                                 ...        ...
3793  Meanwhile In A Supermarket in Israel -- People...          3
3794  Did you panic buy a lot of non-perishable item...          1
3795  Asst Prof of Economics @cconces was on @NBCPhi...          2
3796  Gov need to do somethings instead of biar je r...          0
3797  I and @ForestandPaper members are committed to...          4

[3798 rows x 2 columns]

In [29]:
# Load the dataset
dataset = torch.load(os.path.join(_PATH_DATA ,'dataset.pth'))

# Use the dataset
print(dataset)

DatasetDict({
    train: Dataset({
        features: ['text', 'labels', 'input_ids', 'token_type_ids', 'attention_mask'],
        num_rows: 41157
    })
    test: Dataset({
        features: ['text', 'labels', 'input_ids', 'token_type_ids', 'attention_mask'],
        num_rows: 3798
    })
})

In [54]:
print(len(first_datapoint['attention_mask']))

128

In [25]:
dataset.shape

{'train': (41157, 5), 'test': (3798, 5)}

In [56]:
# Get the first datapoint from the dataset
first_datapoint = dataset['train'][4]
print(len(first_datapoint['input_ids']),len(first_datapoint['token_type_ids']),len(first_datapoint['attention_mask']))

128 128 128

In [57]:
for datapoint in dataset['train']:
    assert len(datapoint['input_ids']) == 128
    assert len(datapoint['token_type_ids']) == 128
    assert len(datapoint['attention_mask']) == 128

In [46]:
len(first_datapoint['input_ids'])

128

In [60]:
# Check if at least 50 of each label are included
label_count = {0: 0, 1: 0, 2: 0, 3: 0, 4: 0}
# Iterate through all datapoints in the dataset
for datapoint in dataset['train']:
    label = datapoint['labels']
    label_count[label] += 1

In [61]:
label_count

{0: 5481, 1: 9917, 2: 7713, 3: 11422, 4: 6624}

In [62]:
# Check if at least 50 of each label are included
label_count = {0: 0, 1: 0, 2: 0, 3: 0, 4: 0}
# Iterate through all datapoints in the dataset
for datapoint in dataset['test']:
    label = datapoint['labels']
    label_count[label] += 1
label_count

{0: 592, 1: 1041, 2: 619, 3: 947, 4: 599}